In [27]:
#Import neccessary Lib

#SQL Lib
import mysql.connector as mysql
import pymysql

#Time Lib
import datetime

In [2]:
#Connect to SQL
db = pymysql.connect(
  host="127.0.0.1",
  user="root",
  passwd="password"
)

print(db)

<pymysql.connections.Connection object at 0x111364630>

In [12]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE run")

1

In [28]:
#Connect to DB name 'run'
db = pymysql.connect(
  host="127.0.0.1",
  user="root",
  passwd="password",
  db="run"
)

cursor = db.cursor()

In [5]:
#examples is create by SQLWorkbench
#Here is some example for examples table

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

# Select data from table using SQL query.
cursor.execute("SELECT * FROM examples")
 
# print the first and second columns      
for row in cursor.fetchall() :
    print(row[0], " ", row[1])

1   Hello World
2   MySQL Example
3   Flask Example
4   pythonspot

In [19]:
#Create Table
cursor.execute("CREATE TABLE Rec (Timestamp VARCHAR(255), img VARCHAR(255) , Text VARCHAR(255), TagRemark VARCHAR(255))")

0

In [9]:
#Show Tables
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('Rec',)
('examples',)

In [24]:
timestamp = datetime.datetime.now()
path = 'Desktop/python/jupyter/txt-e.jpg'
txt = 'intania93'
mark = 'test4'

cursor.execute("""INSERT into Rec (Timestamp, img, Text, TagRemark) values(%s,%s,%s,%s)""",(timestamp,path,txt,mark))
db.commit()

In [33]:
path_1 = "Desktop/python/jupyter/txt-x.jpg"
path_2 = "Desktop/python/jupyter/txt-y.jpg"
path_3 = "Desktop/python/jupyter/txt-z.jpg"
pathlist = [path_1, path_2, path_3]
#timestamp = '06.02.50'
timestamp = datetime.datetime.now()
txt1 = "intania90"
txt2 = "intania91"
txt3 = "intania92"
txtlist = [txt1,txt2,txt3]
mark = 'test_pathlist'

cursor.execute("""INSERT into Rec (Timestamp, img, Text, TagRemark) values(%s,%r,%r,%s)""",(timestamp,tuple(pathlist),tuple(txtlist),mark))
db.commit()

In [34]:
# Select data from table using SQL query.
cursor.execute("SELECT * FROM Rec")
 
# print the first and second columns      
for row in cursor.fetchall() :
    print(row[0], " ", row[1], " ", row[2], " ", row[3])

05.55.05   Desktop/python/jupyter/txt2.jpg   intania92   test
06.42.22   Desktop/python/jupyter/txt-a.jpg   intania92   1st
06.02.33   Desktop/python/jupyter/txt-a.jpg   intania   test
07.23.32   Desktop/python/jupyter/txt-b.jpg   intania92   test2
06.02.50   Desktop/python/jupyter/txt-c.jpg   intania93   test2
06.02.50   ('HELLO','ADIOS','WTF')   intania93   test2
06.02.50   ('Desktop/python/jupyter/txt-a.jpg','Desktop/python/jupyter/txt-b.jpg','Desktop/python/jupyter/txt-c.jpg')   intania93   test_pathlist
19:18:43.711930   Desktop/python/jupyter/txt-d.jpg   intania93   test3
2019-03-25 19:19:21.695415   Desktop/python/jupyter/txt-e.jpg   intania93   test4
2019-03-25 21:28:27.358089   ('Desktop/python/jupyter/txt-x.jpg','Desktop/python/jupyter/txt-y.jpg','Desktop/python/jupyter/txt-z.jpg')   intania93   test_pathlist
2019-03-25 21:29:17.803098   ('Desktop/python/jupyter/txt-x.jpg','Desktop/python/jupyter/txt-y.jpg','Desktop/python/jupyter/txt-z.jpg')   ('intania90','intania91','intania92')   test_pathlist

In [20]:
#SELECT some columns
cursor.execute("SELECT Timestamp, img FROM Rec")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('05.55.05', 'Desktop/python/jupyter/txt2.jpg')
('06.42.22', 'Desktop/python/jupyter/txt-a.jpg')
('06.02.33', 'Desktop/python/jupyter/txt-a.jpg')
('07.23.32', 'Desktop/python/jupyter/txt-b.jpg')
('06.02.50', 'Desktop/python/jupyter/txt-c.jpg')
('06.02.50', "('HELLO','ADIOS','WTF')")
('06.02.50', "('Desktop/python/jupyter/txt-a.jpg','Desktop/python/jupyter/txt-b.jpg','Desktop/python/jupyter/txt-c.jpg')")